:root {
  --mainColor: #509191;
  --mainColorLight: #9cf6f6;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

.home-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  width: 100%;
  height: 560px;
  background-image: url(../../../public/hero.png);
  background-size: auto;
}
.home-hero .home-hero-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-hero .home-hero-info .home-hero-img img {
  width: 360px;
  height: 360px;
}

.home-hero .home-hero-info .home-hero-text {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-hero .home-hero-info .home-hero-text h1 {
  font-size: 29px;
}

.home-hero .home-hero-info .home-hero-text button {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 8px;
  background-color: var(--mainColor);
  color: var(--textColor);
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  overflow: hidden;
}
.home-hero .home-hero-info .home-hero-text button:hover {
  background-color: var(--mainColorLight);
}

.left-div {
  width: 100%;
  height: 560px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.left-div .left-div-text {
  display: inline-block;
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left-div .left-div-text p {
  color: var(--textColor);
}

.left-div .left-div-text h1 {
  color: var(--textColor);
}

.left-div .left-div-text button {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 8px;
  background-color: var(--textColor);
  color: var(--mainColor);
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.left-div .left-div-text button:hover {
  background-color: var(--mainColor);
  color: var(--textColor);
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.left-div .left-div-float img {
  width: 360px;
  height: 360px;
  margin-left: 30px;
  position: relative;
  animation: beat 0.5s alternate infinite;
  transform-origin: center center;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 768px) {
  .home-hero img {
    height: 360px;
  }
  .home-hero-info {
    flex-direction: column;
    justify-content: flex-start;
  }

  .home-hero .home-hero-info .home-hero-text {
    gap: 5px;
    position: relative;
    margin-right: 0;
  }

  .home-hero .home-hero-info .home-hero-img img {
    width: 240px;
    height: 240px;
  }

  .home-hero .home-hero-info .home-hero-text button {
    width: 100%;
    height: 40px;
  }

  .left-div {
    width: 100%;
    height: 560px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .left-div .left-div-text button {
    width: 100%;
    height: 40px;
  }

  .left-div .left-div-float img {
    width: 240px;
    height: 240px;
    margin-left: 0%;
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
