* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #509191;
  --mainColorLight: #9cf6f6;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 1rem 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

header a {
  text-decoration: none;
  color: var(--textColor);
}

nav .sign-in-phone {
  visibility: hidden;
  opacity: 0;
  display: none;
}

header .sign-in {
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.2rem;
}

header .sign-in:hover {
  color: var(--secondaryColor);
}

header .right {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

nav a {
  color: var(--textColor);
  margin: 0 2rem;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--secondaryColor);
}

nav a.active {
  color: var(--secondaryColor);
}

header a.active {
  color: var(--secondaryColor);
}

header .nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--textColor);
  padding: 5px;
  font-size: 1.5rem;
  outline: none;
  visibility: hidden;
  opacity: 0;
  display: none;
}

nav .shop-cart-phone {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--textColor);
  font-size: 1.5rem;
  outline: none;
  visibility: hidden;
  opacity: 0;
  display: none;
}

header .shop-cart {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--textColor);
  font-size: 1.5rem;
  outline: none;
  justify-self: flex-end;
  margin-right: 10px;
}

header .shop-cart:hover {
  color: var(--secondaryColor);
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateX(300vh);
    z-index: 10;
  }

  header .responsive_navbar {
    transform: none;
  }

  nav .nav-btn-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  nav .sign-in-phone {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 45px;
    border-radius: 8px;
    background-color: var(--textColor);
    color: var(--mainColor);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    visibility: visible;
    opacity: 1;
  }

  nav .sign-in-phone:hover {
    background-color: var(--mainColorLight);
  }

  nav .shop-cart-phone {
    visibility: visible;
    opacity: 1;
    display: inline-block;
    position: absolute;
    top: 2.1rem;
    right: 2.5rem;
  }

  header .right {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
